<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style href="/home.css"></style>
    <title>Personal Website</title>
</head>
<body>
    <div class = "container" id = "container">
        <div class="leftColumn">
            <img class="leftColumnImage" src="/" alt="My Photo">
            <h1 class ="myName">&lt;Sushma&gt; </h1>
            <h3 class ="myProfession">Full Stack Web Developer</h3>
            <button class ="leftButton" href="./">Email Me</button>
            <img src="./" href ="./" alt="linkedInId">
            <img src="./" href= "./" alt="InstaId">
        </div>
        <div class="rightColumn">
            <h2 class="rightColumnHeading"> &lt;About Me&gt;</h2>
            <p>Hello! I'm Sushma, a passionate <strong> full-stack developer with expertise in HTML, CSS, and JavaScript. </strong> 
                I specialize in building responsive and user-friendly<strong> web applications using modern frameworks like  React.js and Node.js with Express.js. </strong>
                 My journey into development also includes mastering technologies such as <strong> jQuery for dynamic frontend experiences and integrating REST APIs for robust backend functionality. </strong> 
                 I am enthusiastic about<strong>version control with GitHub, and I leverage Express middleware to enhance application performance. </strong> 
                Let's connect and explore how we can bring innovative ideas to life through technology!</p>
                <button class="rightColumnButton">portfolio</button>
        </div>
    </div>
</body>
</html>